<h2>Create New Hotel</h2>

<div class="container">
    <form #hotelForm="ngForm" (ngSubmit)="addHotel(hotelForm)">
    <div>
        <label>Hotel Name:</label>
        <input name="hotelName" required #hotelName="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.hotelName">
    </div>

    <div>
        <label>Address:</label>
        <input name="address" required #address="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.address">
    </div>

    <div>
        <label>Postcode:</label>
        <input name="postcode" required #postcode="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.postcode">
    </div>

    <div>
        <label>City:</label>
        <input name="city" required #city="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.city">
    </div>

    <div>
        <label>Ammenities:</label>
        <input name="ammenities" required #ammenities="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.ammenities">
    </div>
    <br>
    <div>
        <label> Room Types: </label>
        <select [(ngModel)]="addHotelForm" multiple>
            <option *ngFor="let room of rooms" [value]="room.roomType" >
                {{room.roomType}}
            </option> 
         </select>
    </div>
    <div>
        <label>Star Rating:</label>
        <input name="starRating" required #starRating="ngModel" class="form-control" 
        type="text" [ngModel]="addHotelForm.starRating">
    </div>
    <div>
        <label>Airport Transfer:</label>
        <mat-checkbox name="airportTransfers" [ngModel]="addHotelForm.airportTransfers"></mat-checkbox>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

