<div>
    <h1>Welcome to the Hotel Booking site!</h1>
</div>


<div class="col-xs-12">
    <h3>Search for a hotel</h3>
    <input type="text" class="form-control" (input)="saveQuery($event)">
    <br>
    <button class="btn btn-primary" (click)="searchHotels(searchedQuery)">Search</button>

    <div>
        <h3>Found hotels:</h3>
        <p *ngFor="let hotel of foundHotels">{{ hotel.hotelName }} <br> {{ hotel.city }}</p>
        <h3>Searched query:</h3>
        <p>{{ searchedQuery }}</p>
    </div>


</div>
<hr>
