<div>
    <h1>Welcome to the Hotel Booking site!</h1>
</div>

<div class="col-xs-12">
    <h3>Search for a Hotel</h3>
    <input type="text" class="form-control" (input)="saveQuery($event)" placeholder="Search by city or room type...">
    <br>
    <button class="btn btn-primary" (click)="searchHotels(searchedQuery)">Search</button>

    <div>
        <br>
        <h3>Results:</h3>
        <a *ngFor="let hotel of foundHotels" class="nav-link" routerLink="/hotel-single/{{hotel.hotelId}}" (click)="onClickToPage(hotel.hotelId)">{{hotel.hotelName}} : {{ hotel.city }}</a>
    </div>


</div>
<hr>
