<div class="margins">
  <p>{{hotel.hotelName}}</p>


  <p>Start Date</p>
  <div class="container">
  <input matInput [matDatepicker]="startPicker" placeholder="Start date"
               (dateInput)="inputStartDate($event)" (dateChange)="changeStartDate($event)">
  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
  <mat-datepicker #startPicker></mat-datepicker>
  </div>

  <br><br>

  <p>End Date</p>
  <div class="container">
  <input matInput [matDatepicker]="endPicker" placeholder="End date"
               (dateInput)="inputEndDate($event)" (dateChange)="changeEndDate($event)">
  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
  <mat-datepicker #endPicker></mat-datepicker>
  </div>

  <div>
      <p>Room Type</p>
      <mat-form-field>
          <mat-label>Room Type</mat-label>
          <mat-select [(value)]="roomtypeSelected">
            <mat-option *ngFor="let type of hotel.room" [value]="type.roomType">
              {{ type.roomType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div *ngIf="hotel.airportTransfers">
    <mat-checkbox class="example-margin" [(ngModel)]="checked">Airport Transfer?</mat-checkbox>
  </div>

  <div class="container">

      <button class="btn btn-primary" (click)="createAndSubmitBooking(startDate, endDate)">Submit booking</button>

  </div>
  <div class="container"><br><p>Hotel selected: {{ hotel.hotelName }}</p></div>
  <div class="container"><br><p>Room type selected: {{roomtypeSelected}}</p></div>
  <div class="container"><br><p>Selected check-in date: {{ startDate }}</p></div>
  <div class="container"><br><p>Selected check-out date: {{ endDate }}</p></div>
</div>
