
{{hotel.hotelName}}


<p>Start Date</p>
<div class="container">
<input matInput [matDatepicker]="startPicker" placeholder="Start date"
             (dateInput)="inputStartDate($event)" (dateChange)="changeStartDate($event)">
<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
<mat-datepicker #startPicker></mat-datepicker>
</div>

<br><br>

<p>End Date</p>
<div class="container">
<input matInput [matDatepicker]="endPicker" placeholder="End date"
             (dateInput)="inputEndDate($event)" (dateChange)="changeEndDate($event)">
<mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
<mat-datepicker #endPicker></mat-datepicker>
</div>

<div class="container">

    <button class="btn btn-primary" (click)="createAndSubmitBooking(startDate, endDate)">Submit booking</button>

</div>

<div class="container"><br><p>Selected check-in date: {{ startDate }}</p></div>
<div class="container"><br><p>Selected check-out date: {{ endDate }}</p></div>