<button class="btn btn-primary" routerLink="/landing">Home</button>
<h1>User Login</h1>
<div class="container"><form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" novalidate>

    <label>Username</label>
      <input name="username" required #username="ngModel" type="text"
      class="form-control" [(ngModel)]="login.username">


    <label>Password</label>
      <input name="password" required #password="ngModel" type="text"
      class="form-control" [(ngModel)]="login.password">


  <div><button [disabled]="LoginForm.invalid || username.untouched || password.untouched" class="btn btn-primary" 
    type="submit">Login</button></div>
</form></div>