<div class="container">
  <h1>{{hotel.hotelName}}</h1>
  <p>Address:{{hotel.address}}, {{hotel.city}}, {{hotel.postcode}}</p>
  <p>Rooms Available: {{hotel.numOfRooms}}</p>
  <p>Amenities: {{hotel.amenities}}</p>
  <p>Airport Transfers: {{hotel.airportTransfers}}</p>
  <p>Rating: <b>{{ hotel.averageHotelScore }}</b> after {{ hotel.reviews.length }}
    review{{hotel.reviews.length > 1 ? 's' : '' }}</p>
  <div>
    <button class="btn btn-primary" routerLink="/review-list/{{hotel.hotelId}}">Reviews</button>
  </div>
  <br>
  <div *ngIf="authenticationService.hasRole('customer')">
    <button class="btn btn-primary" routerLink="/hotel/{{hotel.hotelId}}/book">Book Now!</button>
  </div>
</div>


