<h1>User Register</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
  <mat-form-field>
    <label>Name</label>
    <input matInput name="username" autocomplete="off" required #username="ngModel"
           [class.is-invalid]="username.invalid && username.touched"
           type="text" [ngModel]="registrationForm.username">
    <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput name="email" autocomplete="off" required #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched"
           pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" [ngModel]="registrationForm.email">
    <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
  </mat-form-field>

  <mat-form-field>
    <label>Password</label>
    <input matInput name="password" autocomplete="off" required #password="ngModel"
           [class.is-invalid]="password.invalid && password.touched"
           type="password" [ngModel]="registrationForm.password">
    <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
  </mat-form-field>

  <button [disabled]="userForm.form.invalid || username.untouched || email.untouched || password.untouched"
          class="btn btn-primary" type="submit">Register
  </button>
</form>
